* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}
.hide {
    display: none !important;
}
.activate {
    color: green !important;
}
.container {
    width: 1124px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    
}
.main-block {
    width: 100vw;
    display: flex;
    background-color: rgb(230 230 230);
}
.filters {
    background-color: #fff;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}
.filter_hide {
    width: 100%;
    background-color: darkgray;
    height: 50px;
    border: none;
}
.filter_hide_txt {
    text-transform: uppercase;
    color: black;
}
.mode {
    margin: 0 auto;
}
.action_mode {
    text-transform: uppercase;
    border: none;
    background: transparent;
}
.payload {
    display: flex;
}
.payload div[class~="line"] {
    border-right: 1px solid #dee2e6;
}
.payloads,
.payloads-sell,
.payloads-buy {
    margin: 0;
    padding: 0;
    width: 275px;
}
.payload-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo {
    max-height  : 16px;
}
.paymethods {
    justify-content: center;
}
.paymethods-header, .exchange-header,
.currencies-header {
    text-transform: uppercase;
}
.all_btn {
    border-radius: 5px;
    background: transparent;
}
.input-part {
    display: flex;
}
.filter-input {
    max-width: 150px;
}
.orders {
    display: flex;
    width: 100%;
}
.buy_orders,
.sell_orders  {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order_header {
    text-transform: uppercase;
}
.order_btn {
    width: 100%;
    min-height: 30px;
    overflow: hidden;
}